


{{> header.hbs}}
{{#withSpecific products}}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">{{name}}</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{this.images.[0]}}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="text-black">{{name}}</h2>
                {{#each highlights}}
                    <p>{{this.title}} </p>
                    <p>{{this.subTitle}} </p>
                {{/each}}
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, vitae, explicabo? Incidunt facere, natus soluta dolores iusto! Molestiae expedita veritatis nesciunt doloremque sint asperiores fuga voluptas, distinctio, aperiam, ratione dolore.</p>-->
                <!--<p class="mb-4">Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illum hic magni iste, velit aperiam quis.</p>-->
            </div>
        </div>
    </div>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Parameters</th>
            <th scope="col">{{name}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each specifications}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.value}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{/withSpecific}}
{{> footer.hbs}}