{{> header.hbs}}
{{#withSpecific products}}
    <div class="site-wrap">
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
                            class="text-black">{{name}}</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{this.images.[0]}}" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-black">{{name}}</h2>
                        {{#each highlights}}
                            <h5 class="text-black"> {{this.title}} </h5>
                            <p>{{this.subTitle}} </p>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    {{#if specHeader}}
                        {{#each specHeader}}
                            <th scope="col">{{this}}</th>
                        {{/each}}
                    {{else}}
                        <th scope="col">Parameters</th>
                        <th scope="col">{{name}}</th>
                    {{/if}}
                </tr>
                </thead>
                <tbody>
                {{#each specifications}}
                    <tr>
                        <td>{{this.name}}</td>
                        {{#if values}}
                            {{#each values}}
                                <td>{{this}}</td>
                            {{/each}}
                        {{else}}
                            <td>{{this.value}}</td>
                        {{/if}}
                    </tr>
                {{/each}}

                </tbody>
            </table>
        </div>
    </div>
{{/withSpecific}}
{{> footer.hbs}}